
work files/MRCS-Don-Wood-IR-Detector-Circuit.s#1
*.GBL
*.GBO
MRCS-Don-Wood-IR-Detector-Circuit.GBS
MRCS-Don-Wood-IR-Detector-Circuit.GTL
*.GTO
*.GTS
*.TXT
*.csv
*.GBL
*.GBO
*.GBS
*.GTL
*.GTO
*.GTS
*.TXT
*.zip
*.xlsx
work files/MRCS-Don-Wood-IR-Detector-Circuit-aa.sch
*.b#1
*.b#2
*.b#3
*.b#4
*.dri
*.gpi
MRCS-Don-Wood-IR-Detector-Circuit-array.brd
*.GML
*.GTP
*.scr
